<html>
<head>
	<title>Meal Tender</title>
	<meta charset="utf-8"/>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="static/main.css">
</head>


<body>

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">

                <a class="navbar-brand" >
                    <h1>Meal.Tender</h1>
                </a>


            </div>
            <nav>
                 <div class="login-btn">
                      <a href="/login/">Login</a>
                </div>
            </nav>

        </div>

    </nav>



    <div class = "welcome_page">
        <h1>
            Eat selectively.
        </h1>

        <a id = "Download" href="#">Download our app now.</a>
        <b id = "LearnMore" href="#">Learn more.</b>

    </div>


    <p class="page-description">
            Meal Tender is the only app for foreigners in South Korea.
            Use Meal Tender to get to know about korean food ingredients and get it
          delivered within a click of a button!
    </p>

    <nav>
      <ul>
        <li>
            <a href="/restaurant_list"><b>Restaurants</b></a>

        </li>
        <li><a href="#">About Korea cuisine</a></li>
      </ul>
      <div class="contact-btn"><a>Contact</a>
      </div>
    </nav>

	<p id = "footer"> &copy; Nyam Nyam Co. Limited</p>
</body>


</html>


