{% extends "app/main_template.html" %}
{% block title %} List of food {% endblock %}
{% block content %}
    <table style="border: medium; width: 100%">
    <tr>
        <th> </th>
        <th>Name</th>
        <th>Servings</th>
        <th>Price</th>
        <th>Ingredients</th>
    </tr>
    {% for food in foods %}
        <tr>
            <th><img src="/{{ food.image }}"></th>
            <th>{{ food.name }}</th>
            <th>{{ food.servings }}</th>
            <th>{{ food.price }}</th>
            <th>{{ food.ingredients }}</th>
            <th><a href="/cart/add/?food_id={{ food.pk }}">Add</a> </th>
        </tr>
    {% endfor %}
    </table>
{% endblock %}