{% extends "app/main_template.html" %}
{% block title %} Index page {% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <h1>Hello {{ user.username }}!</h1>
        <p><a href="/profile/">Profile</a></p>
        <p><a href="/logout/">Logout</a></p>
    {% else %}
        <h1>Hello user!</h1>
        <p><a href="/register/">Register Here</a></p>
        <p><a href="/login/">Login</a></p>
    {% endif %}
    <p><a href="/show_cart/">Show cart</a></p>
    <P><a href="/food_list">Food list</a></P>
    <P><a href="/restaurant_list">Restaurant list</a></P>
    Today is {{ today }}
{% endblock %}