{% extends "app/main_template.html" %}

{% block title %} Index page {% endblock %}

{% load static %}

<body>
{% block content %}
    <section class = "search-page">
        <div class = "container">
         <div class="row text-center">
              <h1 class="text-center">Korean Food For You</h1>
              <h4 class="text-center"> Explore and order best of korean food with us </h4>

                 <div class="address-type">
                    <form class= "center" id="" method="post" action="">

                        <p> DELIVERY ADDRESS </p>
                        <br/>
                        <input type="text" name="address" value="" size="100" />

                        <br/>
                        <nav>
                           <ul><button type="submit" class="select-restaurant">Find Restaurants</button></ul>
                           <ul><button type="submit" class="select-food">Find Food</button> </ul>
                        </nav>

                    </form>
                </div>

          </div>
        </div>

    </section>

    <section id="Intro">
        <div class="LearnMore">
             <button type="button" class="btn btn-default">Learn more</button>
        </div>
        <div class="Download">
             <button type="button" class="btn btn-success">Download our app</button>
        </div>


    </section>



    <div class="hero-unit">
        <h2>About us</h2>
        <p> <strong>Meal.Tender</strong> is the only delivery food app focused on foreigners in South Korea.
            Try out Meal.Tender to get to know about korean food ingredients and get it
          delivered within a click of a button!</p>
    </div>

{% endblock %}

</body>

</html>





