{% extends "app/main_template.html" %}

{% block title %} Index page {% endblock %}

{% block script %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <script>
    function initialize() {
        var defaultBounds = new google.maps.LatLngBounds(
                new google.maps.LatLng(35.163720, 129.158937)
        );
        var input = document.getElementById('address-input');
        var options = {
            bounds: defaultBounds,
            componentRestrictions: {country: 'KR'}
        };
        var autocomplete = new google.maps.places.Autocomplete(input, options);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    </script>

{% endblock %}

{% load static %}

{% block content %}
    <section class = "search-page">
        <div class = "container">
         <div class="row text-center">
              <h1 class="text-center">Korean Food For You</h1>
              <h4 class="text-center"> Explore and order best of korean food with us </h4>
                 <div class="address-type">
                    <form class= "center" id="search-form" method="post" action="/search/">
                        {% csrf_token %}
                        <p> DELIVERY ADDRESS </p>
                        <div id="locationField">
                            <input name="address" id="address-input" placeholder="Enter your address" type="text"> </input>
                        </div>
                        <br/>
                        <nav>
                           <ul><button type="submit" class="select-restaurant" name="select-restaurant">Find Restaurants</button></ul>
                           <ul><button type="submit" class="select-food" name="select-food">Find Food</button> </ul>
                        </nav>
                    </form>
                </div>
          </div>
        </div>
    </section>
    <section id="Intro">
        <div class="LearnMore">
             <button type="button" class="btn btn-default">Learn more</button>
        </div>
        <div class="Download">
             <button type="button" class="btn btn-success">Download our app</button>
        </div>


    </section>

    <div class="hero-unit">
        <h2>About us</h2>
        <p> <strong>Meal.Tender</strong> is the only delivery food app focused on foreigners in South Korea.
            Try out Meal.Tender to get to know about korean food ingredients and get it
          delivered within a click of a button!</p>
    </div>
{% endblock %}





