{% extends "app/main_template.html" %}
{% load static %}
{% block title %} Registration {% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/register.css">
{% endblock %}

<body>
{% block content %}
    <section class = "register-page">
        <div class="container">
            {% if registered %}
                App says: <strong> Thank you for registering!</strong>
            {% else %}
                App says: <strong> Please register</strong>
            <form id="user_form" method="post" action="/register/" enctype="multipart/form-data">
                <h2 class="form-signin-heading">Create account
                </h2>

                {% csrf_token %}

                {{ user_form.as_p }}
                {{ profile_form.as_p }}

                <br />

                <button type="submit" name="submit" class="create-account">Create my account</button>

            </form>
        </div>
    </section>
{% endblock %}
</body>