{% extends "app/main_template.html" %}
{% block title %} Registration {% endblock %}
{% block content %}

    <div class="container">

    {% if registered %}
    <strong>Thank you for registering.</strong>
    <a href="/">Return to the homepage.</a><br />
    {% else %}
    <form id="user_form" method="post" action="/register/"
            enctype="multipart/form-data">
        <h2 class="form-signin-heading">Please sign up</h2>
        {% csrf_token %}

        {{ user_form.as_p }}
        {{ profile_form.as_p }}

        <br />
            <!-- Provide a button to click to submit the form. -->
        <input class="btn btn-primary" type="submit" name="submit" value="Register"/>

     </form>
     {% endif %}
    </div>
{% endblock %}