{% extends "app/main_template.html" %}
{% block title %} List of restaurants {% endblock %}
{% block content %}
    <table style="border: medium", width="100%">
    <tr>
        <th>Name</th>
        <th>Address</th>
    </tr>
    {% for restaurant in restaurants %}
        <tr>
            <th>{{ restaurant.name }}</th>
            <th>
                {{ restaurant.address.street }}
                {{ restaurant.address.zip_code }}
                {{ restaurant.address.city }}
                {{ restaurant.address.country }}
            </th>
        </tr>
    {% endfor %}
    </table>

{% endblock %}