.welcome_page {
  	background-image: url('https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-2/bg.jpg');
	background-position: center top;
	background-size: cover;
	padding: 250px 0;
	margin: 30px;
	text-shadow: 0 2px #000000;
	font-family: 'Trebuchet MS', 'Helvetica';
}

.welcome_page h1 {
    text-align: center;
	color: #00FFAA;
	font-size: 4.25em;
	text-decoration: none;
}
.welcome_page a {
	color: #00FFAA;
	font-size: 1.25em;
	text-decoration: none;
}
.welcome_page b {
	color: #00FFAA;
	font-size: 1.25em;
	text-decoration: none;
}

.page-title {
  text-align: center;
  font-weight: 100;
}

.page-description {
  border: 1px solid #000;
  margin: 2px;
  text-align: center;
  padding: 30px;
}

.login-btn {


     line-height: 12px;
     width: 18px;
     font-size: 8pt;

     margin-top: 20px;
     margin-right: 80px;
     position:absolute;
     top:0;
     right:0;

}

.login-btn a {
  position: relative;
  cursor: pointer;
  margin-right: 30px;
  margin-top: 1px;
  padding: 8px 18px;
  border: 1px solid #204156;

}

.login-btn a:active {
 top: 2px;
}


/* FOOTER NAVIGATION */

nav {
  background-color: #FFF;
}

nav li {
  display: inline;
  margin: 0;
  padding: 0 10px;
}

nav ul {
  display: inline;
}

.contact-btn {
  float: right;
}

.contact-btn a {
  position: relative;
  cursor: pointer;
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;

}

.contact-btn a:active {
 top: 2px;
}

nav a {
  height: 60px;
  line-height: 60px;
  color: #204156;
  text-decoration: none;
}